html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {background-image: url(../images/img-developmentbox1.gif);
        background-color: skyblue;}


.main_wrapper_cust{
width:1000px;
height:auto;
margin:auto;
background:brown;
}


.main_wrapper_admin{
width:1000px;
margin:auto;
background-color: #187eae;
}

#header_admin{
    width: 1000px;
    height: 120px;
    background-image: url(../images/admin-logo.gif);
    border-bottom: 5px groove orange;
}

#left{
    width: 795px;

    background-image: url(../images/adminbg.jpeg);
    float: left;

}
#right{
    width: 200px;
    float: right;
    background: #187eae;
    border-left: 5px groove orange;
}

#right a{
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 18px;
    font-family: palatino;
    padding: 6px;
    margin: 6px;
    display: block;
}

#right a:hover{
color: orange;
font-weight: bolder;
text-decoration:underline;}



.main_wrapper{
width:1000px;
height:auto;
margin:auto;
background: transparent;
}

.header_wrapper{
width: 1000px;
height: 150px;
margin: auto;
}

.menubar{
width: 1000px;
height: 50px;
background: gray;
color: white;
display: block;
}

#menu{
padding: 1px;
margin: 1px;
line-height: 45px;
float: left;
}

#menu li{
list-style: none;
display: inline;
}

#menu a{
text-decoration: none;
color: white;
font-size: 18px;
font-family: comic sans-serif;
padding: 5px;
margin: 2px;
}

#menu a:hover{
color: orange;
font-weight: bolder;
text-decoration:underline;	

}

#form{
line-height: 45px;
padding-right: 8px;
float: right;
}

#logo{
float: left;
width: 500px;
height: 150px;
}

#banner{
float: right;
width: 500px;
height: 150px;
}


.content_wrapper{
width: 1000px;
margin: auto;
background: black;
}


#content_area{
width: 800px;
height: auto;
float: right;
background-image: url(../images/background.jpeg);
}

#content_area_reg{
width: 800px;
height: auto;
float: right;
background-image: url(../images/backround2.jpeg);
}

#sidebar{
width: 200px;
background: black;
float: left;
color: white;
}

#cust_sidebar{
width: 200px;
background: brown;
float: right;
color: white;
}

#sidebar_grow{
width: 200px;
background: black;
float: left;
color: white;
}

#sidebar_title{
background:white;
color: black;
font-size: 22px;
font-family: arial;
text-align: center;
}

#cats{
padding: 0;
text-align: center;
}

#cats li{
	list-style: none;
	display: block;
	margin: 15px;
}

#cats a{
	color: white;
	padding: 5px;
	margin: 5px;
	text-align: center;
	text-decoration: none;
}

#cats a:hover{
	color: orange;
	font-weight: bolder;
	text-decoration: underline;
}

#footer{
width: 1000px;
height: 100px;
background-color:transparent;
clear: both;
}

#products_box {
width:780px; 
text-align:center;
margin-left:30px;
margin-bottom:10px; 
}

#single_product {
float:left; 
margin-left:30px; 
padding:10px;
margin:5px;
}
	
#single_product img {
border:2px 
solid black;
}
	
#shopping_cart {
width:800px; 
height:50px; 
background: green; 
color:white;
}


.blink_text {

    animation:1.0s blinker linear infinite;
    -webkit-animation:1.0s blinker linear infinite;
    -moz-animation:1.0s blinker linear infinite;
    color: red;
    text-align: center;
    text-shadow: blue;
}

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

.blink_text2 {

    animation:2s blinker linear infinite;
    -webkit-animation:2s blinker linear infinite;
    -moz-animation:2s blinker linear infinite;

     color: black;
     text-shadow: currentColor;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }